SECRET_KEY=change-me-in-production
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com
DB_HOST=db
DB_NAME=playto
DB_USER=playto
DB_PASSWORD=playto
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
